* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

$text-primary: #BC9A6C;
@mixin text-heading($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color
}
// @include text-heading(35px, 700, $text-c1-primary);
// @include button(16px, 600, white, $bg-color-primary , 0px 0px, 1px solid $bg-color-primary, 8px, #00732c, white);

@mixin button($fs, $fw, $color, $bg-color, $padding , $border, $border-radius, $bg-hover, $color-hover) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
    background: $bg-color;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;

    &:hover {
        background: $bg-hover;
        color: $color-hover;
    }
}