* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #BC9A6C;
}
.navbar .container a {
  color: white;
}
.navbar .container a.active {
  color: #000;
  font-weight: bold;
}
.navbar .container a.navbar-brand {
  font-weight: bold;
}
.navbar .container #collapsibleNavId {
  margin-left: 300px;
}
.navbar .container #icon button {
  margin: 0px 10px;
}
.Carousel {
  background: #000;
  height: 600px;
  color: #BC9A6C;
}
.Carousel .container .content .content-left {
  position: relative;
  display: flex;
  align-items: center;
}
.Carousel .container .content .content-left .text {
  padding: 0px 50px 0px 0px;
}
.Carousel .container .content .content-left .text h5 {
  border: 1px solid #BC9A6C;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
}
.Carousel .container .content .content-left .text p {
  color: white;
  margin-bottom: 50px;
}
.Carousel .container .content .content-left .text button {
  margin-right: 20px;
  transition: all 0.5s;
}
.Carousel .container .content .content-left .text button.button-left {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #BC9A6C;
  padding: 10px 20px;
  border: none;
  border-radius: none;
}
.Carousel .container .content .content-left .text button.button-left:hover {
  background: white;
  color: #BC9A6C;
}
.Carousel .container .content .content-left .text button.button-right {
  font-size: 16px;
  font-weight: 600;
  color: #BC9A6C;
  background: white;
  padding: 10px 20px;
  border: none;
  border-radius: none;
}
.Carousel .container .content .content-left .text button.button-right:hover {
  background: #BC9A6C;
  color: white;
}
.Carousel .container .content .content-right .img {
  padding: 150px;
}
.Carousel .container .content .content-right .img img {
  width: 100%;
  height: 100%;
}