.SwiperCart {
  height: 400px;
}
.SwiperCart img {
  width: 100%;
}
.SwiperCart .card-body {
  text-align: center;
}
.SwiperCart .card-body h4 {
  color: #BC9A6C;
  font-size: 20px;
}
.SwiperCart .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
  background: #BC9A6C;
}